@import "sizes";
.mat-expansion-panel-header-title {
  min-width: 160px;
  max-width: 160px;
}

.fdp {
  &Error {
    margin: 8px 0;
  }
  &Portfolio {
    &_ {
      &sended {
        display: flex;
        justify-content: center;
        margin: 10px;
      }
    }
  }
  &Form {
    padding: 15px 0;
  }
  &Flex {
    &Dual {
      display: flex;
      flex-direction: row;
      @media screen and (max-width: $responsive-width-m) {
        flex-direction: column;
      }
      justify-content: space-around;
    }
    &Bloc {
      flex: 1;
      padding: 10px;
      max-width: 700px;
      p {
        text-align: justify;
      }
      ul {
        list-style-type: none;
      }
      &_ {
        &image {
          &- {
            &full {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
