@import 'app.variables';

:host {
  display: grid;
  grid-template-columns: 33vmin 1fr;
  grid-template-rows: 33vmin 1fr;
  grid-template-areas: "sound similar" "details similar";

  @media (max-aspect-ratio: 5/4) {
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr 80px;
    grid-template-areas: "similar similar" "sound details";
  }

  app-box-sound {
    grid-area: sound;
  }

  .boxDetail {
    grid-area: details;
  }

  .boxSimilar {
    grid-area: similar;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;

    app-box-list {
      overflow: hidden auto;
    }

    h2 {
      text-align: center;
    }
  }

}
