@import 'app.variables';

:host {
  display: grid;
  grid-template-columns: 33vmin 1fr;
  grid-template-rows: 33vmin 2fr;
  grid-template-areas: "sound details" "similar similar";

  @media screen and (max-width: $mobile-width) {
    grid-template-areas: "similar similar" "sound details";
    grid-template-columns:33vmin 1fr;
    grid-template-rows: 2fr 33vmin;

    app-box-list {
    }
  }

  app-box-sound {
    grid-area: sound;
  }

  .boxSimilar {
    grid-area: similar;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;

    app-box-list {
      overflow: hidden auto;
    }
  }

  .boxDetail {
    grid-area: details;
  }
}
