@import "layout-variables";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-box {
  width: 15rem;
  height: 15rem;
}

app-box-form {
  max-width: 20rem;
  margin-bottom: $padding;
}
