<div class="fdpContent fdpContent_slider">
  <div class="fdpContent_slider-title">
    <h1 class="fdpFont fdpTitle">AifeDesSons</h1>
    <p>Ici, c'est les playlists, avec du son lourd et léger en même temps.</p>
  </div>

  <mat-tab-group class="fdpContent_slider-content">

    <mat-tab label="Deezer / Spotify">
      <div class="fdpMusic">
        <div class="fdpMusic_category">
          <h2>Deezer</h2>

          <h3>A</h3>
          <div class="fdpEmbedContainer">
            <div class="fdpEmbed">
              <iframe scrolling="no" frameborder="0" allowTransparency="true" src="https://www.deezer.com/plugins/player?format=classic&autoplay=false&playlist=true&width=700&height=350&color=007FEB&layout=&size=medium&type=playlist&id=4491434164&app_id=1"></iframe>
            </div>
          </div>

          <h3>B</h3>
          <div class="fdpEmbedContainer">
            <div class="fdpEmbed">
              <iframe scrolling="no" frameborder="0" allowTransparency="true" src="https://www.deezer.com/plugins/player?format=classic&autoplay=false&playlist=true&width=700&height=350&color=007FEB&layout=&size=medium&type=playlist&id=4500735326&app_id=1"></iframe>
            </div>
          </div>
        </div>

        <div class="fdpMusic_category">
          <h2>Spotify</h2>

          <h3>A</h3>
          <div class="fdpEmbedContainer">
            <div class="fdpEmbed">
              <iframe src="https://open.spotify.com/embed/user/11121676292/playlist/4Y5wo2B7eEgq4rZBMeQezN" frameborder="0"
                allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
          </div>

          <h3>B</h3>
          <div class="fdpEmbedContainer">
            <div class="fdpEmbed">
              <iframe src="https://open.spotify.com/embed/user/11121676292/playlist/7MweKYxjOAPDSgJjx7HKLt" frameborder="0"
                allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
          </div>
        </div>

        <div class="fdpMusic_category">
          <h2>Apple Music</h2>
          
          <h3>A</h3>
          <div class="fdpEmbedContainer">
            <div class="fdpEmbed">
              <iframe allow="autoplay *; encrypted-media *;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/fr/playlist/a/pl.u-NpXmzkWTLykpv7?app=music" frameborder="0"></iframe>
            </div>
          </div>

          <h3>B</h3>
          <div class="fdpEmbedContainer">
            <div class="fdpEmbed">
              <iframe allow="autoplay *; encrypted-media *;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/fr/playlist/b/pl.u-GgA5kaBhx2j8bp?app=music" frameborder="0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Youtube">
      <div class="fdpList fdpList-vertical">
        <h2 class="fdpTitle fdpFont">AAAA (2014 - 2015)</h2>
        <div class="fdpEmbedContainer fdpEmbedContainer-normal">
          <div class="fdpEmbed">
            <iframe src="https://www.youtube.com/embed/videoseries?list=PL6EUPPQAaktUp_pFVtDF2M_WVV9Hf143P" frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen></iframe>
          </div>
        </div>

        <h2 class="fdpTitle fdpFont">BBBB (2015 - 2016)</h2>
        <div class="fdpEmbedContainer fdpEmbedContainer-normal">
          <div class="fdpEmbed">
            <iframe src="https://www.youtube.com/embed/videoseries?list=PL6EUPPQAaktUT2nlY2qfb1K_Ttz5MYKuN" frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen></iframe>
          </div>
        </div>

        <h2 class="fdpTitle fdpFont">CCCC (2016 - 2017)</h2>
        <div class="fdpEmbedContainer fdpEmbedContainer-normal">
          <div class="fdpEmbed">
            <iframe src="https://www.youtube.com/embed/videoseries?list=PL6EUPPQAaktVJDGcl2aRS9KeTa_H1f-_c" frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen></iframe>
          </div>
        </div>

        <h2 class="fdpTitle fdpFont">DDDD (2017 - 2018)</h2>
        <div class="fdpEmbedContainer fdpEmbedContainer-normal">
          <div class="fdpEmbed">
            ​
            <iframe src="https://www.youtube.com/embed/videoseries?list=PL6EUPPQAaktVKuIob29iz5o9zNtVb6vYe" frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
