<div class="fdpContent">
  <h1 class="fdpFont fdpTitle">AifeDesSons</h1>

  <p>Ici, c'est les playlists, avec du son lourd et léger en même temps.</p>

  <div class="fdpList fdpList-vertical">
    <h2 class="fdpTitle fdpFont">AAAA (2014 - 2015)</h2>
    <div class="fdpEmbedContainer fdpEmbedContainer-normal">
      <div class="fdpEmbed">
        <iframe src="https://www.youtube.com/embed/videoseries?list=PL6EUPPQAaktUp_pFVtDF2M_WVV9Hf143P" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div>
    </div>

    <h2 class="fdpTitle fdpFont">BBBB (2015 - 2016)</h2>
    <div class="fdpEmbedContainer fdpEmbedContainer-normal">
      <div class="fdpEmbed">
        <iframe src="https://www.youtube.com/embed/videoseries?list=PL6EUPPQAaktUT2nlY2qfb1K_Ttz5MYKuN" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div>
    </div>

    <h2 class="fdpTitle fdpFont">CCCC (2016 - 2017)</h2>
    <div class="fdpEmbedContainer fdpEmbedContainer-normal">
      <div class="fdpEmbed">
        <iframe src="https://www.youtube.com/embed/videoseries?list=PL6EUPPQAaktVJDGcl2aRS9KeTa_H1f-_c" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div>
    </div>

    <h2 class="fdpTitle fdpFont">DDDD (2017 - 2018)</h2>
    <div class="fdpEmbedContainer fdpEmbedContainer-normal">
      <div class="fdpEmbed">
        ​
        <iframe src="https://www.youtube.com/embed/videoseries?list=PL6EUPPQAaktVKuIob29iz5o9zNtVb6vYe" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>

</div>
