<app-article [article]="article"></app-article>

<form #articleForm="ngForm">
  <mat-form-field class="title">
    <input
      matInput
      type="text"
      placeholder="Titre"
      name="title"
      [(ngModel)]="article.title"
    >
  </mat-form-field>

  <app-markdown-edit>
    <textarea
      #area
      name="content"
      placeholder="Content"
      [(ngModel)]="article.content"
    ></textarea>
  </app-markdown-edit>

  <mat-form-field>
    <textarea
      matInput
      type="text"
      placeholder="Description"
    >
    </textarea>
  </mat-form-field>

  <app-tag-field></app-tag-field>
  <app-picture-upload (pictureSaved)="setPicture($event)"></app-picture-upload>

</form>
