<div class="sidenav">
  <nav
    class="flex"
    [ngClass]="responsiveService.isLargeScreen ? 'flex-col' : 'flex-col-reverse'"
  >
    <a
      *ngFor="let route of routes"
      [routerLink]="route.url"
      [ngClass]="responsiveService.isLargeScreen ? 'flex-row' : 'flex-row-reverse'"
      [routerLinkActiveOptions]="{exact: !route.url}"
      class="text-main p-4 flex items-center"
      matRipple
      routerLinkActive="active-link"
      (click)="layoutService.toggleMenu()"
    >
      <mat-icon class="mat-18">{{route.icon}}</mat-icon>
      <span class="m-x-2">{{route.name}}</span>
    </a>
  </nav>

  <app-sound-player></app-sound-player>
</div>
