@import "responsive";
@import "layout-variables";

.lock {
  height: 100%;
  flex: 1;
  background-color: rgba(127, 127, 127, .5);
  cursor: pointer;
}

.sidenav {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  width: $nav-width;
  justify-content: space-between;

  @include largeScreen {
    flex-direction: column;
  }
}

a {
  width: 100%;
  box-sizing: border-box;
  color: #444;

  &.active-link {
    background-color: rgba(126, 126, 126, .1);
  }
}
