<div class="btns">
  <button mat-button (click)="addTitle(1)">h1</button>
  <button mat-button (click)="addTitle(2)">h2</button>
  <button mat-button (click)="addTitle(3)">h3</button>
  <button mat-button (click)="addTitle(4)">h4</button>
  <button mat-button (click)="addLink()"><mat-icon class="mat-18">link</mat-icon></button>
  <button mat-button (click)="addImage()"><mat-icon class="mat-18">image</mat-icon></button>
  <button mat-button (click)="addCode()"><mat-icon class="mat-18">image</mat-icon></button>
</div>

<ng-content select="textarea"></ng-content>
