<ng-container *ngIf="authService.isAuthenticated then logged else notLogged"></ng-container>

<ng-template #logged>
  <button
    mat-button
    mat-mini-fab
    [matMenuTriggerFor]="userActions"
    matTooltipPosition="before"
    matTooltip="Mes actions"
    class="profilBtn"
    color="none"
    [ngStyle]="{'background-image': getBackgroundImage()}"
  >
  </button>

  <mat-menu #userActions="matMenu">
    <a
      routerLink="/profile"
      title="Profil"
      mat-menu-item
    >
      <mat-icon>person</mat-icon>
      <span>Profil</span>
    </a>

    <a
      *ngIf="authService.isAdmin"
      routerLink="/admin"
      title="Admin"
      mat-menu-item
    >
      <mat-icon>accessibility_new</mat-icon>
      <span>Admin</span>
    </a>

    <button
      mat-menu-item
      (click)="authService.logout()"
    >
      <mat-icon>exit_to_app</mat-icon>
      <span>Se déconnecter</span>
    </button>
  </mat-menu>

</ng-template>

<ng-template #notLogged>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Authentification"
    matTooltipPosition="before"
    matTooltip="Authentification"
  >
    <mat-icon>person</mat-icon>
  </button>

  <mat-menu #menu="matMenu">

    <button
      mat-menu-item
      (click)="authenticate(false)"
    >
      <mat-icon>person</mat-icon>
      <span>Connection</span>
    </button>

    <button
      mat-menu-item
      (click)="authenticate(true)"
    >
      <mat-icon>person_add</mat-icon>
      <span>Inscription</span>
    </button>

  </mat-menu>

</ng-template>
