<div class="fdpContent">
  <h1 class="fdpFont fdpTitle">AifeDesReset</h1>

  <div class="fdpBoxBloc fdpBoxBloc-noAnim fdpBoxBloc-center">
    <form *ngIf="canReset" #resetPasswordForm="ngForm" (ngSubmit)="resetPassword()"
          [formGroup]="userAuthResetPasswordFormGroup"
          class="fdpBloc">

      <mat-form-field>
        <input type="password" placeholder="Nouveau mot de passe" id="login_password" name="login_password"
               matInput required
               formControlName="resetPassword_password"
               [(ngModel)]="userAuthResetPassword.password">
        <mat-hint>Au moins 8 caractères</mat-hint>
      </mat-form-field>

      <div *ngIf="error" class="fdpError">{{error}}</div>

      <div class="fdpBloc">
        <button mat-raised-button color="primary" [disabled]="!userAuthResetPasswordFormGroup.valid">
          Mettre à jour le mot de passe
        </button>
      </div>

    </form>
  </div>

  <div *ngIf="canReset === false" class="fdpBloc">
    Ce lien de reset est invalide
  </div>

</div>
