<form
  #form="ngForm"
  (ngSubmit)="submitPicture()" autocomplete="on"
>
  <mat-form-field>
    <input
      matInput
      placeholder="Titre"
      name="title"
      [(ngModel)]="title"
      maxlength="50"
      required
    >
    <mat-error>Veuillez saisir un titre</mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="title">
    <textarea
      matInput
      placeholder="Description"
      name="description"
      [(ngModel)]="description"
      maxlength="250"
      required
    >
    </textarea>
    <mat-error>Veuillez saisir une description</mat-error>
  </mat-form-field>

  <app-picture-upload
    *ngIf="description && title"
    [title]="title"
    [description]="description"
    (pictureSaved)="setPicture($event)"
  ></app-picture-upload>

  <button
    *ngIf="picture && title && description"
    mat-flat-button
    color="primary"
    type="submit"
    class="btn btn-success"
    [disabled]="!form.form.valid"
  >
    <mat-icon>add_circle</mat-icon>
    Ajouter l'image
  </button>
</form>
