@import 'responsive';
@import 'layout-variables';

:host {
  position: fixed;
  bottom: calc(4 * #{$padding} + #{$header-height});
  right: 4 * $padding;
  z-index: $zindex-floating;

  @include largeScreen {
    bottom: 4 * $padding;
  }
}
