@import "layout-variables";

:host {
  position: relative;
  padding: 0;
  cursor: pointer;

  h3,
  app-picture {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  h3 {
    padding: $padding;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
