@import "layout-variables";

:host {
  position: relative;
  padding: 0;
  cursor: pointer;

  .front,
  app-picture {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .front {
    display: flex;
    flex-direction: column;
    z-index: $zindex-local;

    h3 {
      flex: 1;
      padding: $padding;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span {
      padding: $padding;
      text-align: right;
    }
  }

}
