.fdpContent_index {
  background-image: url(/assets/images/index/aifedespaix_crew.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0;
  padding-left: 0;
}

.fdpTitle_main {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 25px;
}
