@import "app.variables";

:host {
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  padding: 0 10px;
  box-sizing: border-box;
}

.user {
  display: flex;
  justify-content: flex-end;
}
