<header class="flex justify-between items-center"
        [ngClass]="responsiveService.isLargeScreen ? 'flex-row' : 'flex-row-reverse'">
  <div class="flex flex-row-reverse items-center">
    <app-logo class="flex"></app-logo>
    <button *ngIf="!responsiveService.isLargeScreen"
      mat-icon-button
      aria-label="Afficher ou cacher le menu"
      class="m-2"
      (click)="layoutService.toggleMenu()"
    >
      <mat-icon class="mat-18">menu</mat-icon>
    </button>
  </div>

  <h1 class="mat-h1">{{headService.actualTitle}}</h1>

<!--  <mat-form-field class="example-full-width">-->
<!--    <input matInput-->
<!--           type="text"-->
<!--           required-->
<!--           placeholder="">-->
<!--  </mat-form-field>-->

  <app-actions></app-actions>

</header>
