@import "app.variables";

:host {
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
}

.user {
  display: flex;
  justify-content: flex-end;
}
