@import "app.variables";

:host {
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.user {
  display: flex;
  justify-content: flex-end;
}

app-title {
  width: $sidenav-width;
  margin: 0 5px;
}
