@import "responsive";
@import "layout-variables";
@import "mixins";

:host {
  @include squareGrid(15rem);
  grid-template-rows: auto 1fr;
  grid-gap: $padding;
  padding: $padding;
}

a {
  display: block;
}

app-article-card {
  display: grid;
  overflow: hidden;

  div {
    padding: 1rem;
  }
}
