@import "responsive";

:host {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(300px, 1fr);
  grid-gap: 1rem;
  padding: 1rem;

  @include largeScreen {
    padding: 4rem;
  }
}

a {
  display: block;
}

app-article-card {
  display: block;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  div {
    padding: 1rem;
  }
}
