:host {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  span {
    font-size: 22px;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img {
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
}
