@import "layout-variables";
@import "responsive";

:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;

  @include largeScreen {
    grid-template-columns: 1fr 1fr;
  }

  app-box-admin,
  app-article-admin,
  .categories {
    width: 100%;
    padding: $padding;
    box-sizing: border-box;
  }

  app-article-admin,
  app-box-admin {
    @include largeScreen {
      grid-column: span 2;
    }
  }
}
