<form (ngSubmit)="submit()">
  <mat-form-field class="title">
    <input
      matInput
      type="text"
      placeholder="Titre"
      name="title"
      [(ngModel)]="article.title"
    >
  </mat-form-field>

  <app-category-field
    class="category"
    name="category"
    [(ngModel)]="article.category"
  >
  </app-category-field>

  <app-picture-field
    name="thumbnail"
    [(ngModel)]="article.thumbnail"
    [title]="article.title"
    [description]="article.description"
    label="Image de couverture"
  ></app-picture-field>

  <mat-form-field class="description">
    <textarea
      matInput
      name="description"
      placeholder="Description"
      [(ngModel)]="article.description"
    >
    </textarea>
  </mat-form-field>

  <app-tag-field
    class="tags"
    name="tags"
    [(ngModel)]="article.tags"
  ></app-tag-field>

  <app-markdown-edit>
    <textarea
      #area
      name="content"
      placeholder="Content"
      [(ngModel)]="article.content"
    ></textarea>
  </app-markdown-edit>

  <button
    [disabled]="!isSubmitable()"
    class="submit"
    mat-raised-button
    color="primary"
    type="submit"
  >{{submitLabel()}}</button>
</form>
