<form class="fdpForm" #loginForm="ngForm" (ngSubmit)="editBox()"
      [formGroup]="editBoxFormGroup">

  <div class="fdpFields">
    <mat-form-field>
      <input matInput [(ngModel)]="box.title" formControlName="box_title" placeholder="Titre">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput [(ngModel)]="box.description" formControlName="box_description"
                placeholder="Description"></textarea>
    </mat-form-field>

    <div *ngIf="error" class="fdpError">{{error}}</div>
  </div>


  <div class="fdpButtons">
    <app-fdp-file label="Miniature" [fileTypes]="['image/*']" (fileSaved)="updateMiniature($event)"></app-fdp-file>

    <button mat-raised-button color="primary" [disabled]="!editBoxFormGroup.valid">
      Mettre à jour
    </button>
  </div>

</form>
