<div class="fdpContent">
  <h1 class="fdpFont fdpTitle">Aniverssère de Loup</h1>

  <p class="fdpFont fdpTac">Coucou LOUP, aujourd'hui on fête ton anniversaire.</p>
  <p class="fdpFont fdpTac">Si tu veux ton cadeau, tu dois gagner à ce jeu, sinon t'as rien.</p>
  <p class="fdpFont fdpTac">Si tu rages t'auras rien non plus.</p>
  <p class="fdpFont fdpTac">Bonne Chance...</p>

  <div class="fdpTac">
    <button mat-raised-button class="fdpLou_btnStart" color="primary">Commencer</button>
    <button mat-raised-button class="fdpLou_btnStart" color="warn" >Quitter</button>
  </div>

  <router-outlet name="FdpLou"></router-outlet>
</div>
