.fdpContent {
  background-image: url(/assets/images/loup/jeux/1/225545.jpg-r_1920_1080-f_jpg-q_x-xxyxx.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}

.fdpLou_input {
  position: absolute;
  bottom: 0;
  width: 200px;
  left: calc(50% - 100px);
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
}
