@import 'responsive';
@import 'layout-variables';

:host {
  height: 100%;
}

a.add {
  position: absolute;
  bottom: calc(1rem + #{$header-height});
  right: 1rem;

  @include largeScreen {
    bottom: 1rem;
  }
}
