<form #registerForm="ngForm" (ngSubmit)="register()">
  <mat-form-field>
    <input matInput placeholder="Adresse mail" name="email" type="email" [(ngModel)]="userRegisterModel.email" email required>
    <mat-error>Mail incorrect</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Identifiant" name="login" type="text" [(ngModel)]="userRegisterModel.login" required>
    <mat-error>Identifiant incorrect</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Mot de passe" [type]="showPassword ? 'text' : 'password'" name="password"
           [(ngModel)]="userRegisterModel.password" minlength="8" maxlength="30" required validateEqual="confirmPassword"
           reverse="true" >
    <mat-icon class="fdpCursor" [color]="showPassword ? 'warn' : 'primary'" matSuffix
              (click)="showPassword = !showPassword">{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error>
      Mot de passe incorrect 8 caractères minimum
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="!showPassword">
    <input matInput placeholder="Confirmer le mot de passe" type="password" name="confirmPassword" validateEqual="password"
           [(ngModel)]="userRegisterModel.passwordConfirm" minlength="8" maxlength="30" required>
    <mat-error>
      Mots de passe non similaires
    </mat-error>
  </mat-form-field>

  <div class="submitButtons">
    <button (click)="closeRegister()" mat-flat-button color="warn" class="btn btn-success" matTooltipPosition="below"
            matTooltip="Quitter" type="button" aria-label="Boutton permettant de quitter le formulaire d'inscription">
      <mat-icon>close</mat-icon>
    </button>

    <button mat-flat-button color="primary" type="submit" class="btn btn-success" [disabled]="!registerForm.form.valid">
      <mat-icon>person_add</mat-icon>
      S'inscrire
    </button>
  </div>
</form>

