.fdpContent {
  background-image: url(/assets/images/loup/jeux/2/a.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  background-position: center center;
}

.fdpLou_input {
  position: absolute;
  bottom: 0;
  width: 200px;
  left: calc(50% - 100px);
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
}
