@import "layout-variables";
@import "responsive";
@import "mixins";

:host {
  display: flex;
  flex-direction: column;

  @include largeScreen {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    height: calc(100vh - #{$header-height});

    .box-detail-container,
    .boxes-container {
      overflow: auto;
    }
  }
}

app-box-detail {
  display: grid;
  @include largeScreen {
    width: 20rem;
  }
}

.boxes {
  @include squareGrid(12rem);
  grid-gap: $padding;
  padding: $padding;
  user-select: none;
}

.box {
  position: relative;
  padding: 0;
  cursor: pointer;

  h3,
  app-picture {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  h3 {
    padding: $padding;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
