<script src="../../../services/string.service.ts"></script>
<div class="box-detail-container">
  <app-box-detail
    #detail
    *ngIf="actualBox"
    [box]="actualBox"
    [ngClass]="{'box-detail': actualBox}"
    class="main-background"
  ></app-box-detail>
</div>

<app-loading
  [isLoading]="isLoadingBoxes"
  class="boxes-container"
>
  <div class="boxes">
    <a
      class="box hoverable hoverable-pump fdpBackground"
      *ngFor="let box of boxes"
      [routerLink]="['/box', box.id,  stringService.forUrl(box.title)]"
      appScroll
      (scrolled)="fetchMore()"
    >
      <app-box [box]="box"></app-box>
    </a>
  </div>
</app-loading>

<app-btn-add
  route="/box/new"
  label="Ajouter une nouvelle box"
></app-btn-add>
