@import "layout-variables";
@import "responsive";
@import "mixins";

:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: calc(100vh - #{$header-height});

  .box-detail-container,
  .boxes-container {
    overflow: auto;
  }

  @include largeScreen {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
  }
}

app-box-detail {
  display: grid;
  @include largeScreen {
    width: 30rem;
  }
}

.boxes {
  @include squareGrid(12rem);
  grid-gap: $padding;
  padding: $padding;
  user-select: none;
}

.box {
  display: grid;
}
