<div class="box-detail-container">
  <app-box-detail
    #detail
    *ngIf="actualBox"
    [box]="actualBox"
    [ngClass]="{'box-detail': actualBox}"
    class="main-background"
  ></app-box-detail>
</div>

<app-loading
  [isLoading]="isLoadingBoxes"
  class="boxes-container"
>
  <div class="boxes">
    <app-box
      class="box hoverable hoverable-pump fdpBackground"
      *ngFor="let box of boxes"
      [routerLink]="['/box', box.id,  box.title]"
      [box]="box"
      appScroll
      (scrolled)="fetchMore()"
    ></app-box>
  </div>
</app-loading>

<app-btn-add
  route="/box/new"
  label="Ajouter une nouvelle box"
></app-btn-add>
