@import "layout-variables";

:host {
  display: grid;
  grid-gap: $padding;
  max-width: 50rem;
  width: 100%;
  margin: auto;
}

.comments {
  display: flex;
  flex-direction: column-reverse;
  app-comment {
    margin-bottom: $padding;
  }
  overflow: hidden;
}
