@import "layout-variables";

:host {
  position: relative;
  display: grid;
  grid-template-columns: auto 2fr;
  grid-template-rows: auto auto;
  box-sizing: border-box;
  padding: $padding;
}

.edit {
  position: absolute;
  z-index: $zindex-floating;
  top: 0;
  right: 0;
  cursor: pointer;
}

app-box {
  width: 8rem;
  height: 8rem;
  max-width: 50vmin;
  max-height: 50vmin;
}

.infos {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: $padding;

  p, h2 {
    margin: 0;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: .8em;

    div {
      display: flex;
      align-items: center;
    }

    .author {
      display: flex;
      align-items: center;

      app-picture {
        height: 2rem;
        width: 2rem;
      }
    }

  }
}

.comments {
  grid-column: span 2;
}
