<div>
  <ng-container *ngIf="isLoading then loading else notLoading"></ng-container>

  <ng-template #notLoading>
    <ng-container *ngIf="resourceType.id then preview else uploadForm"></ng-container>

    <ng-template #preview>
      <img
        *ngIf="isImage()"
        alt="loadedImage"
        [src]="resourceType.url | safe: 'url'"
      >
    </ng-template>

    <ng-template #uploadForm>
      <form (ngSubmit)="uploadFile()">

        <div>
          <label for="file">Fichier</label>
          <input
            id="file"
            type="file"
            [accept]="acceptedMimes()"
            (change)="onFileChange($event)"
          >
        </div>

        <input type="submit" value="Envoyer">
      </form>
    </ng-template>

  </ng-template>

  <ng-template #loading>
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </ng-template>

</div>

<div>{{error}}</div>
