@import "responsive";

:host {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;

  @include largeScreen {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
  }
}

app-article {
  display: grid;
  overflow: auto;
}
