<div class="form-group fdpFileForm fdpHover fdpFileForm_{{file.id ? 'dragged' : 'draggable'}}">

  <ng-container *ngIf="loading then load else noLoad"></ng-container>

  <ng-template #load>
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </ng-template>

  <ng-template #noLoad>
    <ng-container *ngIf="file.id then preview else input"></ng-container>

    <ng-template #preview>
      <img *ngIf="isImage()" class="fdpFileForm_preview" alt="loadedImage" [src]="getSafeUrl()">
      <span class="fdpFont fdpFont-veryVisible">{{file.name}}</span>
    </ng-template>

    <ng-template #input>
      <label class="fdpFont" for="file">{{label}}</label>
      <input type="file" id="file" [accept]="acceptTypes()" (change)="handleFileInput($event.target.files)">
    </ng-template>

  </ng-template>

</div>

<div>{{error}}</div>
