<app-loading [isLoading]="!user" *ngIf="user">

  <app-card>
    <app-card-content>
      <h2>Avatar</h2>
      <div class="avatar">
        <app-picture [picture]="user.avatar"></app-picture>
        <app-picture-library-pick
          (pictureSelected)="updateAvatar($event)"
          [title]="'Image de profil de ' + user.login"
          label="Choisir un avatar"
        ></app-picture-library-pick>
      </div>

      <div class="infos">
        <div>Nom : {{user.login}}</div>
        <div>Email : {{user.email}}</div>
      </div>

      <app-article-admin
        *ngIf="user.articles.length"
        label="Mes articles"
        [articles]="user.articles"
      ></app-article-admin>

    </app-card-content>

    <app-card-footer>
      <button *ngIf="modified" mat-raised-button color="primary" (click)="save()">Enregistrer le profil</button>
    </app-card-footer>

  </app-card>
</app-loading>
