app-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.infos {
  display: flex;

  div {
    flex: 1;
  }
}

.avatar {
  display: flex;
  justify-content: center;
  position: relative;

  app-picture {
    width: 300px;
    height: 300px;
  }

  app-picture-field {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
