<h1>{{article.title}}</h1>
<article>
  <app-picture
    *ngIf="article?.thumbnail?.id"
    class="thumbnail"
    [picture]="article.thumbnail"
  ></app-picture>

  <div
    class="content"
    [innerHTML]="article.content | markdown"
  ></div>

  <footer>
    <div class="">
      <app-tag-list *ngIf="article.tags" [tags]="article.tags"></app-tag-list>
      <app-category *ngIf="article.category" [category]="article.category"></app-category>
      <div>{{article.likes}}</div>
    </div>

    <app-comment-system
      *ngIf="!hideComments"
      label="Commentaires"
      [comments]="article.comments"
      (newComment)="addNewComment($event)"
    ></app-comment-system>
  </footer>
</article>
