<h1>{{article.title}}</h1>
<article>
  <h2>{{article.description}}</h2>
  <app-picture
    class="thumbnail"
    [picture]="article.thumbnail"
  ></app-picture>

  <div
    class="content"
    [innerHTML]="article.content | markdown"
  ></div>

  <footer>
    <div>
      Tags :
      <app-tag
        *ngFor="let tag of article.tags"
        [tag]="tag"
      ></app-tag>
    </div>
    <div>{{article.likes}}</div>

    <app-comment-system
      label="Commentaires"
      [comments]="article.comments"
      (newComment)="addNewComment($event)"
    ></app-comment-system>

  </footer>
</article>
