@import "layout-variables";

:host {
  display: grid;
  grid-template-rows: auto 1fr;
}

h1 {
  text-align: center;
}

article {
  display: grid;
}

.thumbnail {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.content {
  text-align: justify;

  img {
    margin: auto;
    display: block;
    max-width: 100%;
  }
}

footer,
.content {
  padding: $padding;
}
