<button
  mat-icon-button
  [mat-menu-trigger-for]="themeMenu"
  matTooltip="Change de thème"
  tabindex="-1"
>
  <mat-icon>format_color_fill</mat-icon>
</button>

<mat-menu
  class="docs-theme-picker-menu"
  #themeMenu="matMenu"
  matTooltipPosition="left"
  matTooltip="Change de thème"
>
  <mat-grid-list [cols]="2">
    <mat-grid-tile *ngFor="let theme of themes">
      <div
        mat-menu-item (click)="setTheme(theme.name)"
        matTooltipPosition="before"
        [matTooltip]="theme.description"
      >
        <mat-icon>{{theme.icon}}</mat-icon>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-menu>
