@import "../fdp-variables";

$articleWidth: 350px;

.fdpBlog {
  width: 100%;
  height: calc(100% - 65px);
  display: flex;
  flex-direction: row;

  &_articlesList {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &::after {
      content: "";
      flex: auto;
    }
  }

  &_article {
    width: 180%;
    height: 100%;
    padding: 0 20px;
  }
}

.fdpArticle {

  &_content {
    height: calc(100% - 68px);
    overflow: auto;
  }

  &Prv {
    width: $articleWidth;
    height: $articleWidth;
    margin: 10px;
    cursor: pointer;

    &_ {
      &header {
        height: 120px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        overflow: hidden;

        img {
          width: 100%;
        }
      }
      &content {
        height: calc(100% - 120px);
        color: #111111;

        position: relative;
        overflow: hidden;
        text-align: justify;

        h3 {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 8px 15px;
          padding: 0 0 5px 0;
          border-bottom: 2px solid fade-out($color_main, 0.8);
        }
      }
      &bgImg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: center;
        display: flex;
        justify-content: center;

        z-index: 1;
      }
      &description {
        z-index: 2;
        position: absolute;
        padding: 0 20px 20px 20px;
        height: calc(100% - 62px);
        overflow: hidden;
        margin-right: 18px;
      }
    }
  }

}
