@import "responsive";
@import "layout-variables";
@import '~@angular/material/theming';

:host {
  position: absolute;
  top: 0;
  bottom: $header-height;
  right: 0;
  left: 0;

  display: grid;
  overflow: visible;

  @include largeScreen {
    top: $header-height;
    bottom: 0;
    left: $nav-width;
  }
}


app-header {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $header-height;
  z-index: 2;

  @include largeScreen {
    top: 0;
    bottom: auto;
  }
}

app-layout-nav {
  position: fixed;
  top: 0;
  bottom: $header-height;
  left: 0;
  right: 0;
  z-index: 15;

  display: flex;
  align-items: flex-end;

  @include largeScreen {
    top: $header-height;
    bottom: 0;
    width: $nav-width;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding-bottom: $header-height;
  @include largeScreen {
    padding-bottom: 0;
  }
}

main {
  flex: 1;
  min-height: calc(100vh - #{$header-height});

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0 1fr;

  @include largeScreen {
    min-height: auto;
  }
}
