<app-header class="bg-main text-main"></app-header>
<app-nav
  class="bg-main text-main flex items-end"
  [ngClass]="layoutService.isMenuVisible || responsiveService.isLargeScreen ? 'flex' : 'hidden'"
></app-nav>

<div
  class="content overflow-auto"
  [ngClass]="{blur: layoutService.isMenuVisible && !responsiveService.isLargeScreen}"
  (click)="layoutService.isMenuVisible && !responsiveService.isLargeScreen ? layoutService.toggleMenu() : null"
>
  <main role="main">
    <router-outlet></router-outlet>
  </main>

  <footer>
    <address>
      Contact <a href="mailto:me@htmlg.com">me</a>
    </address>
  </footer>
</div>
