<mat-sidenav-container class="app" (backdropClick)="toggleSidenav(false)">

  <mat-sidenav #sidenav (keydown.escape)="toggleSidenav(false)" disableClose [mode]="sidenavMode()" [position]="sidenavPosition()" >
    <app-sidenav (close)="toggleSidenav(false)" class="mobile-sidenav"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="content mobile-content">
    <app-header (open)="toggleSidenav(true)"></app-header>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
