:host {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  filter: saturate(0);

  span {
    color: #fff;
  }

  &:hover {
    filter: saturate(1);
  }
}
