@import "layout-variables";
@import "responsive";

:host {
  display: grid;
}

.mat-table {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 30rem;

  @include largeScreen {
    display: table;
    min-height: auto;
  }

  .mat-header-row,
  .mat-row {
    display: flex;
    height: auto;

    @include largeScreen {
      display: table-row;
    }
  }

  .mat-row {
    flex-direction: column;
  }

  .mat-header-cell,
  .mat-cell {
    padding: $padding;
  }
}
