.group-content {
  max-height: calc(100vh - 120px);
  overflow: auto;
}

.picture-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 1rem;
}

.picture-upload {
}

app-picture-upload {
}
