:host {
  position: relative;
  display: grid;
}

input,
app-picture,
label {
  width: 100%;
  height: 100%;
  display: grid;
  cursor: pointer;
  position: absolute;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  opacity: 0;
}

app-picture {
  z-index: 1;
}

label {
  z-index: 2;
}
