<div class="fdpContent">
  <h1 class="fdpFont fdpTitle">Portfolio</h1>

  <mat-tab-group class="fdpAutoHeight">
    <mat-tab label="Projets développement Web">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              AifeDesPaix
            </mat-panel-title>
            <mat-panel-description>
              Site Web dynamique
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="fdpFlexDual">
            <div class="fdpFlexBloc fdpFlexBloc-primary">

              <div>
                <img class="fdpFlexBloc_image-full" src="" alt="Aperçu AifeDesPaix.com">
              </div>

              <h5>Concept</h5>
              <div>
                <p>
                  AifeDesPaix est un collectif regroupant des étudiants en art, communication, et informatique.
                  L'enjeu principal est le divertissement par le biais de l'art visuel et sonore et l'humour.
                  Le site aifedespaix.com est né de notre initiative de mettre en place une plateforme collaborative
                  et
                  ouverte à tous permettant à chacun de profiter et contribuer aux diffèrents projets du collectif.
                </p>
              </div>
            </div>

            <div class="fdpFlexBloc">

              <h5>Technologies</h5>
              <div>
                <p>Le site est développé en deux parties distinctes et indépendantes : l'application et l'API.</p>
                <p>La plateforme intégrallement développée en TypeScript (compilé en JavaScript), ce choix a été
                  fait pour garder le même langage de programmation entre l'application et l'api.</p>
                <p>L'ensemble tourne sur un seul serveur Linux qui fait tourner des containers docker : un pour la
                  transmission de l'application, un pour l'API, un pour la base de données et un dernier servant de
                  proxy
                  HTTPS pour sécuriser les connexions.</p>

                <h6>Application</h6>
                <p>L'objectif principal est que l'interface soit ergonomique, responsive, simple et moderne. On
                  s'est
                  tourné
                  vers le material design qui apporte une conhèrence avec les applications mobiles et demande de
                  respecter
                  des normes pour harmoniser chaque écran.</p>
                <ul>
                  <li><a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a></li>
                  <li><a href="https://angular.io/" target="_blank">Angular 5</a></li>
                  <li><a href="https://material.angular.io/" target="_blank">Material design</a></li>
                  <li><a href="https://sass-lang.com/" target="_blank">SASS</a></li>
                </ul>

                <h6>API</h6>
                <p>L'API est utilise le langage GraphQL pour ses communications. C'est un standard mis en place par
                  Facebook
                  qui corrige beaucoup de défauts de la norme REST. Cette technologie est très porteuse et sa
                  simplicité
                  lui
                  permet de faciliter les échanges entre le back et le front.</p>
                <ul>
                  <li><a href="https://nodejs.org/en/" target="_blank">NodeJS</a></li>
                  <li><a href="https://graphql.org/" target="_blank">GraphQL</a></li>
                  <li><a href="https://www.apollographql.com/" target="_blank">Apollo</a></li>
                  <li><a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a></li>
                  <li><a href="https://www.mongodb.com/" target="_blank">MongoDB</a></li>
                  <li><a href="http://mongoosejs.com/" target="_blank">Mongoose</a></li>
                </ul>
              </div>

            </div>

          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              AifeDesPaix V2
            </mat-panel-title>
            <mat-panel-description>
              Site Web dynamique V2
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="fdpFlexDual">
            <div class="fdpFlexBloc fdpFlexBloc-primary">

              <div>
                <img class="fdpFlexBloc_image-full" src="" alt="Aperçu AifeDesPaix.com">
              </div>

              <h5>Concept</h5>
              <div>
                <p>
                  Projet d'évolution du site aifedespaix.com, changement complet de technologies utilisées pour éviter des problèmes d'hébergement et simplifier le fonctionnement back.
                </p>
              </div>
            </div>

            <div class="fdpFlexBloc">

              <h5>Technologies</h5>
              <div>
                <p>Le site est basé sur Firebase et inclus donc une base de données, un serveur de fichiers et un process d'intégration avec un seul et même outil. Seule l'application front est à développer et doit être versionnée. </p>

                <h6>Application</h6>
                <p>
                  Pour cette v2, on se tourne vers next js (basé sur react). Next permet de gérer le Server Side Rendering (SSR) pour permettre l'indexation du contenu tout en gardant les performances de l'appli front.
                </p>
                <ul>
                  <li><a href="https://nodejs.org/" target="_blank">nodeJS</a></li>
                  <li><a href="https://nextjs.org/" target="_blank">Next</a></li>
                  <li><a href="https://reactjs.org/" target="_blank">React</a></li>
                  <li><a href="https://sass-lang.com/" target="_blank">SASS</a></li>
                  <li><a href="https://firebase.google.com/" target="_blank">Firebase</a></li>
                  <li><a href="https://material-ui.com/" target="_blank">Material</a></li>
                </ul>

                <h6>API</h6>
                <p>L'API est gérée via Firebase</p>
                <ul>
                  <li><a href="https://firebase.google.com/" target="_blank">Firebase</a></li>
                </ul>
              </div>

            </div>

          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              WeSport
            </mat-panel-title>
            <mat-panel-description>
              Application mobile (Android / iOS)
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="fdpFlexDual">
            <div class="fdpFlexBloc fdpFlexBloc-primary">

              <div>
                <img class="fdpFlexBloc_image-full" src="assets/images/portfolio/wesport.png" alt="Aperçu WeSport">
              </div>

              <h5>Concept</h5>
              <div>
                <p>
                  WeSport est un projet scolaire d'entreprenariat conçu par une équipe de dix étudiants.
                  En utilisant la méthodologie SCRUM, nous devons mener le projet à son succès de la conception à la mise en production, tout en pilotant le projet pour ne pas dérivier sur les coûts, les temps et la qualité.
                  Le développement est organisé en sprints. Chaque période de cours (d'une durée de deux semaines) se termine sur un copil qui permet de faire un bilan sur l'avancement du projet, les problèmes, et d'acter des solutions pour les corriger.
                </p>
              </div>
            </div>

            <div class="fdpFlexBloc">
              <h5>Technologies</h5>
              <p>
                L'application est développée en deux parties disinctes : une API REST et une application mobile (Android et IOS)
                L'objectif est d'avoir un seul et même code source compilable sous Android et IOS.
                Nous avons mise en place un processus d'intégration continue. Ce dernier ne déploie en production qu'un code respectant les normes de codage que nous avons décidés et validant les tests unitaires et fonctionnels mis en place.
                Le projet se doit d'être rentable, nous avons donc élaboré un business plan basé sur un système d'abonnement.
              </p>
              <div>

                <h6>Application Mobile</h6>
                <p>Le développement front est basé sur des maquettes réalisées en epnsées de façon collaboratives.
                  Les
                  règles d'or sont l'utilisabilité, la simplicité et la cohérence globale entre les écrans.</p>
                <ul>
                  <li><a href="https://facebook.github.io/react-native/" target="_blank">React Native</a></li>
                  <li><a href="https://expo.io/" target="_blank">Expo</a></li>
                  <li><a href="https://mobx.js.org/" target="_blank">MobX</a></li>
                  <li><a href="https://eslint.org/" target="_blank">eslint</a></li>
                </ul>


                <h6>API</h6>
                <p>L'API utilise la norme REST et tourne avec un processus de tests unitaires et fonctionnels
                  automatisés
                  qui assurent la qualité des données échangées.</p>
                <ul>
                  <li><a href="https://nodejs.org/en/" target="_blank">NodeJS</a></li>
                  <li><a href="https://www.mongodb.com/" target="_blank">MongoDB</a></li>
                  <li><a href="http://mongoosejs.com/" target="_blank">Mongoose</a></li>
                  <li><a href="https://www.cypress.io/" target="_blank">Cypress</a></li>
                  <li><a href="https://stripe.com/fr" target="_blank">Stripe</a></li>
                </ul>

              </div>
            </div>

          </div>

        </mat-expansion-panel>
      </mat-accordion>

    </mat-tab>

    <mat-tab label="Contact">
      <!--<form *ngIf="typeForm === TYPE_FORM.login" class="fdpAuth_form" #loginForm="ngForm" (ngSubmit)="login()"-->
            <!--[formGroup]="userLoginFormGroup">-->
      <form class="fdpForm fdpForm_vertical">
          <mat-form-field class="fdpField fdpField-large">
            <input type="text" placeholder="Adresse mail" id="contact_mail" name="contact_mail" matInput required
                   formControlName="contact_mail"
            >
                   <!--[(ngModel)]="contact.mail"-->
            <!--<mat-hint>Au moins 3 caractères</mat-hint>-->
          </mat-form-field>

          <mat-form-field class="fdpField fdpField-large">
            <input type="text" placeholder="Prénom et Nom" id="contact_names" name="contact_names" matInput required
                   formControlName="contact_names"
            >
                   <!--[(ngModel)]="contact.mail"-->
            <!--<mat-hint>Au moins 3 caractères</mat-hint>-->
          </mat-form-field>

          <mat-form-field class="fdpField fdpField-large">
            <textarea placeholder="Message" id="contact_message" name="contact_message"
                   matInput required formControlName="contact_message"></textarea>
                   <!--[(ngModel)]="userLogin.password"-->
            <!--<mat-hint>Au moins 8 caractères</mat-hint>-->
          </mat-form-field>

          <!--<div *ngIf="error" class="fdpError">{{error}}</div>-->
      </form>
    </mat-tab>
  </mat-tab-group>


</div>
