@import "../fdp-variables";
.mat-expansion-panel-header-title {
  min-width: 160px;
  max-width: 160px;
}

.fdp {
  &Flex {
    &Dual {
      display: flex;
      flex-direction: row;
      @media screen and (max-width: $responsiveWidth_M) {
        flex-direction: column;
      }
      justify-content: space-around;
    }
    &Bloc {
      flex: 1;
      padding: 10px;
      max-width: 700px;
      p {
        text-align: justify;
      }
      ul {
        list-style-type: none;
      }
      &_ {
        &image {
          &- {
            &full {
              width: 100%;
            }
          }
        }
      }
      &- {
        &primary {}
      }
    }
  }
}
