.fdpBox {

  &Sound {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 3px;
    cursor: pointer;

    &Background {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        min-width: 100%;
        min-height: 100%;
        max-width: 150%;
        max-height: 150%;
      }
    }

    &_content {
      position: relative;
      height: 100px;

    }
  }
}
