<!--<div  class="fdpList">-->
  <!--<div class="fdpBoxSound usn fdpHover" *ngFor="let box of boxes" (click)="play(box.sound)">-->
    <!--<div class="fdpBoxSoundBackground">-->
      <!--<img [src]="box.miniature.url" alt="{{box.title}}">-->
    <!--</div>-->
    <!--<div class="fdpBoxSound_content">-->
      <!--<div class="fdpTitle fdpFont">{{box.title}}</div>-->
      <!--<div class="fdpTitle fdpFont">{{box.description}}</div>-->
    <!--</div>-->
    <!--<div>-->
      <!--&lt;!&ndash;<button mat-button>LIKE</button>&ndash;&gt;-->
      <!--&lt;!&ndash;<button mat-button>SHARE</button>&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div  class="fdpList">
  <div class="fdpTuile fdpTuile-small fdpTuile-hoverable usn fdpHover" *ngFor="let box of boxes" (click)="play(box.sound)">
    <div class="fdpTuile_content">
      <img [src]="box.miniature.url" alt="{{box.title}}">
    </div>
    <div class="fdpTuile_title">
      <div class="fdpTitle fdpFont">{{box.title}}</div>
      <div class="fdpTitle fdpFont">{{box.description}}</div>
    </div>
    <div>
    </div>
  </div>
</div>
