@import "mixins";
@import "layout-variables";

:host {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  padding: $padding;
}

app-picture {
  background-color: #0065bf;
}

app-picture-upload {
  background-color: #a9167b;
}

app-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  @include squareGrid(15rem);
  grid-gap: $padding;
}

h2 {
  text-align: center;
}

p {
  text-align: justify;
}
