:host {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  grid-template-rows: repeat(2, 50%);
}

app-picture {
  background-color: #0065bf;
}

app-picture-upload {
  background-color: #a9167b;
}
