<app-article [article]="article"></app-article>

<form #articleForm="ngForm">
  <input
    type="text"
    placeholder="Titre"
    class="title"
    name="title"
    [(ngModel)]="article.title"
  >
  <app-markdown-edit>
    <textarea #area
      name="content"
      placeholder="Content"
      [(ngModel)]="article.content"
    ></textarea>
  </app-markdown-edit>

  <input
    type="text"
    placeholder="Description"
  >
  <input
    type="text"
    placeholder="Tags"
    name="tags"
    [(ngModel)]="article.tags"
  >
  <input
    type="file"
    placeholder="Image"
  >
</form>
