<header class="fdpHeader">

  <div class="fdpHeader_title fdpHeader_extremum">
    <div class="fdpHeader_button">
      <button mat-icon-button class="material-icons fdpHeader_menuIcon usn" (click)="pressBtnSlidenav()">
        <mat-icon aria-label="Toggle menu">{{isSlidenavActived ? "clear" : "menu"}}</mat-icon>
      </button>
    </div>
    <a class="fdpHeader_logoBlock" routerLink="/" routerLinkActive="active">
      <span class="fdpVC fdpHeader_logo">
        <img src="/assets/images/logos/aifedespaix.png"
             alt="Logo AifeDesPaix" title="Accueil AifeDesPaix">
      </span>
      <span class="fdpFont">AifeDesPaix</span>
    </a>
  </div>

  <!--<mat-input-container>-->
  <!--<input matInput class="fdpInput fdpHeader_search" type="text" placeholder="Rechercher">-->
  <!--</mat-input-container>-->

  <span class="fdpHeader_login fdpHeader_extremum">

    <button mat-button *ngIf="!isLoged()" (click)="appendLogin()">
      Connexion
    </button>

    <button mat-button *ngIf="isLoged()" [matMenuTriggerFor]="userMenu">{{logedUser().username}}</button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/profil" routerLinkActive="active">Profil</button>
      <button mat-menu-item (click)="logout()">Déconnexion</button>
    </mat-menu>

  </span>

</header>

<app-fdp-user-auth [hidden]="!isAuthActive" (onFormExit)="onFormExit()"></app-fdp-user-auth>
