<form #createBoxForm="ngForm" (ngSubmit)="createBox()" autocomplete="on">
  <mat-form-field>
    <input
      matInput
      placeholder="Title"
      name="title"
      type="text"
      [(ngModel)]="boxInput.title"
      maxlength="25"
      minlength="3"
      required
    >
    <mat-error>Titre trop court</mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="boxInput.title">
    <textarea
      matInput
      placeholder="Description"
      name="description"
      type="text"
      [(ngModel)]="boxInput.description"
      maxlength="150"
      minlength="15"
      required
    ></textarea>
    <mat-error>Description trop courte</mat-error>
  </mat-form-field>

  <app-resource-sound-upload
    *ngIf="boxInput.title && boxInput.description"
    [title]="boxInput.title"
    [description]="boxInput.description"
    name="sound"
    [(ngModel)]="sound"
    required
  ></app-resource-sound-upload>

  <app-picture-library-pick-and-preview
    *ngIf="boxInput.title && boxInput.description && sound"
    name="picture"
    [(ngModel)]="boxInput.thumbnailId"
    required
  ></app-picture-library-pick-and-preview>

  <app-tag-field
    *ngIf="boxInput.title && boxInput.description && sound && boxInput.thumbnailId"
    name="tags"
    [(ngModel)]="boxInput.tags"
    required
  ></app-tag-field>

  <button
    *ngIf="boxInput.title && boxInput.description && sound && boxInput.thumbnailId && boxInput.tags"
    mat-flat-button
    color="primary"
    type="submit"
    class="btn btn-success"
    [disabled]="!createBoxForm.form.valid"
  >
    <mat-icon>playlist_add</mat-icon>
    Créer une box
  </button>
</form>
