<div class="fdpContent">
  <h1 class="fdpFont fdpTitle">AifeDesProfil</h1>

  <mat-card *ngIf="fdpAuthService.isLoged;else noProfile">
    <mat-card-header>
      <div mat-card-avatar class="fdpProfilePicture"
           [style.background-image]="'url(assets/images/logos/fdp_logo_v2.png)'"></div>
      <mat-card-title>{{user.username}}</mat-card-title>
      <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>Encore un profil de merde</p>
      <div class="fdpList" *ngIf="myBoxes.length > 0">
        <h3 class="fdpList_title">Mes Boxs</h3>
        <div class="fdpList_elem" *ngFor="let box of myBoxes">
          <div class="fdpLine_bloc">
            <mat-icon mat-list-icon class="fdpHover" (click)="playBox(box)" title="Jouer la box">
              play_circle_outline
            </mat-icon>
            <h4>{{box.title}}</h4>
            <p>{{box.description}}</p>
          </div>
          <div class="fdpLine_bloc">
            <mat-icon mat-list-icon class="fdpHover" (click)="confirmDelete(box.id)" title="Supprimer cette box">
              delete
            </mat-icon>
          </div>

        </div>
      </div>

    </mat-card-content>
  </mat-card>
  <ng-template #noProfile>
    <p>T'as pas de profil car t'es pas connecté enculé.</p>
  </ng-template>
</div>
