<div class="fdpContent">
  <h1 class="fdpFont fdpTitle">AifeDesVidéos</h1>

  <div class="fdpVideo" id="fdpVideo">
    <ng-container *ngIf="video">
      <div class="fdpEmbedContainer">
        <div class="fdpEmbed">
          <iframe id="videoView" [src]="unsecureUrl('https://www.youtube.com/embed/'+video.youtubeId)" frameborder="0" allowfullscreen=0></iframe>
        </div>
      </div>
      <h3 class="fdpVideo_title">{{video.title}}</h3>
    </ng-container>

    <app-fdp-video-list [videos]="videos" (onLoadVideo)="loadVideo($event)"></app-fdp-video-list>

  </div>
