<div class="fdpContent">
  <h1 class="fdpFont fdpTitle">AifeDesVidéos</h1>

  <div class="fdpVideo" id="fdpVideo">
    <ng-container *ngIf="video">
      <iframe #videoView id="videoView" class="fdpVideo_play"
              [src]="unsecureUrl('https://www.youtube.com/embed/'+video.youtubeId)"
              frameborder="0"
              allowfullscreen
              (window:resize)="isFullScreen() ? true : calcVideoHeight()"></iframe>
      <!--allow="autoplay; encrypted-media"-->
      <!--mozallowfullscreen="mozallowfullscreen"-->
      <!--msallowfullscreen="msallowfullscreen"-->
      <!--oallowfullscreen="oallowfullscreen"-->
      <!--webkitallowfullscreen="webkitallowfullscreen"-->
      <h3 class="fdpVideo_title">{{video.title}}</h3>
    </ng-container>
  </div>

  <app-fdp-video-list [videos]="videos" (onLoadVideo)="loadVideo($event)"></app-fdp-video-list>

</div>
