@import '~@angular/material/theming';

// @src/app/app.component.scss
@mixin app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  //@debug $primary;

  app-header {
    background-color: mat-color($background, app-bar);
    color: mat-color($foreground, text)
  }

  app-layout-nav {
    background-color: mat-color($background, background);
    a {
      color: mat-color($foreground, text)
    }
  }

  .content {
    background-color: mat-color($background, app-bar);
    color: mat-color($foreground, text);
  }

  .card {
    background-color: mat-color($background, card);
    color: mat-color($foreground, text);
  }

  .main-color {
    color: mat-color($foreground, text);
  }

  .main-background {
    color: mat-color($background, card);
  }

}
