@import '~@angular/material/theming';
@import 'mixins';

// @src/app/app.component.scss
@mixin app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  //@debug $primary;
  .main-color {
    color: mat-color($foreground, text);
  }

  .main-background {
    background-color: mat-color($background, card);
  }

  .accent-color {
    color: mat-color($accent, text);
  }

  .accent-background {
    background-color: mat-color($accent, card);
  }


  .warn-color {
    color: mat-color($warn, text);
  }

  .warn-background {
    background-color: mat-color($warn, card);
  }

  app-header {
    background-color: mat-color($background, app-bar);
    color: mat-color($foreground, text)
  }

  app-layout-nav {
    background-color: mat-color($background, background);
    a {
      color: mat-color($foreground, text)
    }
  }

  .content {
    background-color: mat-color($background, app-bar);
    color: mat-color($foreground, text);
  }

  .card {
    background-color: mat-color($background, card);
    color: mat-color($foreground, text);
  }

  .border-3 {
    @include stroke(3px, mat-color($background, app-bar));
  }

}
