// http://paletton.com/#uid=73G0R0kB4IckVLCqTJfHRtGITn3
$color_bg_neutral: #fff;
$color_bg_aneutral: #f4f4f7;

$color_main: #043686;
$color_main_light: #518BE7;
$color_main_medium: #2671E8;
$color_main_dark: #0B61E8;
$color_main_vador: #0547B1;

$color_secondary: #7509E9;
$color_secondary_light: #994FE8;
$color_secondary_medium: #8223E9;
$color_secondary_dark: #5904B4;
$color_secondary_vador: #440489;

$color_tertiary: #00F110;
$color_tertiary_light: #45F050;
$color_tertiary_medium: #13F122;
$color_tertiary_dark: #00CE0D;
$color_tertiary_vador: #00A00A;

$color_quaternary: #FFA200;
$color_quaternary_light: #FFBD49;
$color_quaternary_medium: #FFAA14;
$color_quaternary_dark: #FFA200;
$color_quaternary_vador: #CB8100;
