
@import 'fdp-app-theme';
@import 'fdp-app-colors';

$headerHeight: 50px;
$inputPadding: 4px;
$contentPadding: 25px;
$navslideWidth: 250px;
$bgColor: #333333;

$contentWidth: 1080px;

$responsiveWidth_L: 1380px;
$responsiveWidth_M: 800px;
