<nav class="fdpSlidenav usn">
  <a *ngFor="let item of menuItems" class="fdpSlidenav_link" routerLink={{item.link}}
     routerLinkActive="fdpSlidenav_link-active" [routerLinkActiveOptions]="{ exact: item.exact }"
     (click)="itemClicked()">
    <span class="fdpVC fdpSlidenavLink_icon">
      <i class="material-icons">{{item.icon}}</i>
    </span>
    <span class="fdpSlidenavLink_txt fdpVC">{{item.text}}</span>
  </a>
</nav>

<div *ngIf="isSlidenavActive" class="fdpSlidenav_hide" (click)="toggleSlidenav()"></div>
