.fdpAnim_ {
  &pulse:hover {
    animation: pulse .2s ease-in-out;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes slidenavIcon {
  0% {
    font-size: 1.5em;
  }

  50% {
    font-size: 2em;
  }

  100% {
    font-size: 1.5em;
  }
}
