.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}


@for $i from 1 through 4 {
  .p-#{$i} {
    padding: #{$i * .25}rem;
  }
  .m-#{$i} {
    margin: #{$i * .25}rem;
  }
  .m-x-#{$i} {
    margin-left: #{$i * .25}rem;
    margin-right: #{$i * .25}rem;
  }
  .m-y-#{$i} {
    margin-top: #{$i * .25}rem;
    margin-bottom: #{$i * .25}rem;
  }
  .m-l-#{$i} {
    margin-left: #{$i * .25}rem;
  }
  .m-r-#{$i} {
    margin-right: #{$i * .25}rem;
  }
  .m-t-#{$i} {
    margin-top: #{$i * .25}rem;
  }
  .m-b-#{$i} {
    margin-bottom: #{$i * .25}rem;
  }
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.block {
  display: block;
}

.t-0 {
  top: 0;
}

.l-0 {
  left: 0;
}

.r-0 {
  right: 0;
}

.b-0 {
  bottom: 0;
}

.absolute {
  position: absolute;
}

.overflow-auto {
  overflow: auto;
}

.blur {
  filter: blur(2px);
}

.cursor-pointer {
  cursor: pointer;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.hoverable {
  cursor: pointer;

  &:hover {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
  }
}

.hoverable_pump {
  &:hover {
    animation: pump .2s ease-in-out;
  }
}

@keyframes pump {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  to {

    transform: scale(1);
  }
}

.fdpBackground {
  background: linear-gradient(-45deg, #fbb700, #b60105);
}

.aifeBackground {
  background: linear-gradient(-45deg, #6b4587, #230439);
}

.whitespace-no-wrap {
  white-space: nowrap;
}

.whitespace-pre-line {
  white-space: pre-line;
}
