@import '~normalize.css';
@import 'material-theme';
@import 'framework';

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
}

app-root {
  display: block;
  height: 100%;
}

a {
  @extend .text-primary;
  text-decoration: none;
}
