@import '~normalize.css';
@import 'theme/app-theme';
@import 'framework';

.inutile {
  background-color: #666666;
}

body, html {
  height: 100%;
}

body {
  font-family: Alata, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  overflow-wrap: break-word;
}
