@import '~@angular/material/theming';
@import 'theme-grabber';

@include mat-core();

//$theme-primary: mat-palette($mat-red, 900);
//$theme-accent: mat-palette($mat-red, 900);
//$theme-warn: mat-palette($mat-red, 900);
//$theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
//@include theme-color-grabber($theme);
//@include angular-material-theme($theme);

.theme-light {
  $light-primary: mat-palette($mat-blue, 700);
  $light-accent: mat-palette($mat-orange, 800);
  $light-warn: mat-palette($mat-red, 500);
  $light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
  @include theme-color-grabber($light-theme);
  @include angular-material-theme($light-theme);
}

.theme-dark {
  $dark-primary: mat-palette($mat-purple, 900);
  $dark-accent: mat-palette($mat-orange, 800);
  $dark-warn: mat-palette($mat-red, 500);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  @include theme-color-grabber($dark-theme);
  @include angular-material-theme($dark-theme);
}
