$header-height: 50px;
$input-padding: 4px;
$content-padding: 25px;
$sidenav-width: 250px;
$content-width: 1080px;

$responsive-width-xl: 1980px;
$responsive-width-l: 1280px;
$responsive-width-m: 720px;
$responsive-width-s: 540px;
$responsive-width-xs: 360px;
$responsive-width-xxs: 180px;

$responsive-min-height: 400px;

$tuile-height: 200px;
