@import "responsive";
@import "animations";

/** Global styles **/
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", serif;
}

.fdp {
  &Cursor {
    cursor: pointer;
  }

  &Font {
    &-veryVisible {
      font-size: 2em;
      color: #fff;
      text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
        1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    }
  }

  &Tac {
    text-align: center;
  }

  &Pulsable:hover {
    animation: pulse 0.2s;
  }
}
