<ng-container *ngIf="authService.user then logged else notLogged"></ng-container>

<ng-template #logged>

  <button
    mat-button
    mat-mini-fab
    [matMenuTriggerFor]="userActions"
    matTooltipPosition="before"
    matTooltip="Mes actions"
  >
  </button>

  <mat-menu #userActions="matMenu">
    <button
      mat-menu-item
      (click)="authService.logout()"
    >
      <mat-icon>person</mat-icon>
      <span>Profil</span>
    </button>
    <button
      mat-menu-item
      (click)="authService.logout()"
    >
      <mat-icon>exit_to_app</mat-icon>
      <span>Se deconnecter</span>
    </button>
  </mat-menu>

</ng-template>

<ng-template #notLogged>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Authentification"
    matTooltipPosition="before"
    matTooltip="Authentification"
  >
    <mat-icon>person</mat-icon>
  </button>

  <mat-menu #menu="matMenu">

    <button
      mat-menu-item
      (click)="authenticate(false)"
    >
      <mat-icon>person</mat-icon>
      <span>Connection</span>
    </button>

    <button
      mat-menu-item
      (click)="authenticate(true)"
    >
      <mat-icon>person_add</mat-icon>
      <span>Inscription</span>
    </button>

  </mat-menu>

</ng-template>
