<footer [@openClose]="isOpen ? 'open' : 'closed'">
  <div class="infos">
    <div>
      <address>
        <a class="main-color" href="mailto:aifedespaix@gmail.com">Nous contacter</a>
      </address>
    </div>

    <div class="social">
      <a
        href="https://youtube.com/aifedespaix"
        target="_blank"
        class="icon youtube"
        inlineSVG="/assets/icons/social/youtube.svg"
      ></a>
      <a
        href="https://twitter.com/AifeDesPaix"
        target="_blank"
        class="icon twitter"
        inlineSVG="/assets/icons/social/twitter.svg"
      ></a>
      <a
        href="https://www.facebook.com/Aifedespaix-143258716348680"
        target="_blank"
        class="icon facebook"
        inlineSVG="/assets/icons/social/facebook.svg"
      ></a>
      <a
        href="https://www.instagram.com/aifedespaix"
        target="_blank"
        class="icon instagram"
        inlineSVG="/assets/icons/social/instagram.svg"
      ></a>
    </div>

    <div>
      <a class="main-color" [routerLink]="['legal']">Mentions légales</a>
    </div>
  </div>

  <div class="text-center">
    © 2016-{{getYear()}} aifedespaix
  </div>
</footer>
