<div class="box-detail-container">
  <app-box-detail
    #detail
    *ngIf="actualBox"
    [box]="actualBox"
    [ngClass]="{'box-detail': actualBox}"
  ></app-box-detail>
</div>

<app-loading [isLoading]="isLoadingBoxes" class="boxes-container">
  <div class="boxes">
    <a
      [routerLink]="['/box', box.id,  box.title]"
      class="box hoverable hoverable_pump"
      *ngFor="let box of boxes"
      (click)="play(box)"
    >
      <app-picture [picture]="box.thumbnail"></app-picture>
      <h3 class="border-3 main-color">{{box.title}}</h3>
    </a>
  </div>
</app-loading>

<app-btn-add
  route="create"
  label="Ajouter une nouvelle box"
></app-btn-add>
